<!-- NavBar -->
<nav class="navbar ">
    <div class="navbar-brand">
        <div class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>
            <a class="saved navbar-item" href="/saved">
                Saved Articles
            </a>
        </div>
    </div>
</nav>

<!-- Jumbotron -->
<section class="hero is-info" style="background-color: #3dc128">
    <div class="hero-body">
        <div class="container" style="text-align: center">
            <div class="box dropdown is-pulled-right">
                <ul>
                    <li><a id="home" class="navbar-item" href="/">Home</a></li>
                    <li><a class="navbar-item" href="/pinned">Pinned Articles</a></li>
                    <li><a id="new-scrape-button" class="button is-success navbar-item" href="/scrape">Get New
                            Articles</a></li>
                </ul>
            </div>
            <h1 id="hero-title" class="title">
                News Scraper
            </h1>
            <h2 class="subtitle">
                National Park News
            </h2>
        </div>
    </div>
</section>

<!-- Pinned Results Div -->
<section class="section">
    <div class="container">
        <h1 class="title">Saved Articles</h1>
        <div id="pinned-results"></div>
    </div>
</section>

<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p id="comments-header" class="modal-card-title">
                {{!-- Modal header text dynamically rendered --}}
            </p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div id="comments-list">
                <p>Write the first comment for this article.</p>
            </div>
            <hr>
            <div>
                <textarea id="new-comment-field"></textarea>
            </div>
        </section>
        <footer class="modal-card-foot">
            {{!-- Save comment button dynamically rendered to include data-id attribute of article--}}
        </footer>
    </div>
</div>


{{!-- <!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>National Park News Scraper</strong>
                <h4 style="font-size: 12pt">All data scraped from
                    <a href="https://www.nationalparkstraveler.org/latest-news">National Parks Traveler Site</a></h4>
            </p>
        </div>
    </div>
</footer> --}}



<script src="/js/pinned.js"></script>