a#home,
a.home,
a#saved,
a.saved {
    color: #3273dc;
}

.dropdown {
    display: none;
}

#hero-title {
    padding-bottom: 20px;
}

.title {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 18pt;
    text-align: center;
}

section.section {
    padding-bottom: 0;
    min-height: 100%;
}

div.container {
    min-height: 100%;
}

div#scrape-results,
div#saved-results {
    min-height: 100%;
    margin-bottom: 200px;
}

.result-pic {
    float: left;
    width: 10%;
    padding-bottom: 30px;
}

.article-title {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 14pt;
}

.result-text {
    float: left;
    width: 70%;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

.save-article {
    float: left;
    margin-top: 25px;

}

.result-div {
    clear: both;
}


.saved-text {
    float: left;
    width: 70%;
    padding-bottom: 30px;
}

.comments-button {
    float: right;
    margin-top: 25px;
}

.unsave-button {
    float: right;
    margin-top: 25px;
    margin-left: 20px;
}

.saved-div {
    clear: both;
}

.footer {
    bottom: 0;
    width: 100%;
    padding: 40px 0;
}

span.icon {
    padding-right: 25px;
    padding-left: 15px;
}